  <% @user_repos.each do |repo| %>
  





  <div style="width: 18rem;">

    <div class="card card-stats">
      <!-- Card body -->
      <div class="card-body">

        <div class="row">
          <div class="col">
            <h6 class="card-title text-lowercase text-muted mb-0" > <%= repo['name']%></h6>
            
          </div>
          <div class="col-auto">
            <div class="icon icon-shape bg-orange text-white rounded-circle shadow">
              <i class="fa fa-file"></i>
            </div>
          </div>
        </div>
        <p class="mt-3 mb-0 text-sm">
          <span class="text-warning mr-2"><i class="fa fa-star"></i> <%= repo['stargazers_count'] %> Stars</span>
          <span class="text-nowrap">created : <%= time_ago_in_words(repo['created_at']) %></span>
        </p>

      </div>

    </div>

  </div>

  <% end %>