
<div class="row mb-4">
  <div class="col-lg-6">
    <div class="card card-stats">
      <!-- Card body -->
      <div class="card-body">

        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">Total Reviews</h5>
            <span class="h2 font-weight-bold mb-0"><%= @reviews if !@reviews.nil?%></span>
          </div>
          <div class="col-auto">
             <div class="icon icon-shape bg-default text-white rounded-circle shadow">
              <i class="far fa-eye"></i>
            </div>
          </div>
        </div>
        <p class="mt-3 mb-0 text-sm">
          <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
          <span class="text-nowrap">Since Last month</span>
        </p>

      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card card-stats">
      <!-- Card body -->
      <div class="card-body">

        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">Followers</h5>
            <span class="h2 font-weight-bold mb-0"><%= @followers if @followers.present? %></span>
          </div>
          <div class="col-auto">
            <div class="icon icon-shape bg-orange text-white rounded-circle shadow">
              <i class="fas fa-users"></i>
            </div>
          </div>
        </div>
        <p class="mt-3 mb-0 text-sm">
          <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
          <span class="text-nowrap">Since last month</span>
        </p>

      </div>
    </div>
  </div>
   <div class="col-lg-6">
    <div class="card card-stats">
      <!-- Card body -->
      <div class="card-body">

        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0"># New GIF</h5>
            
          </div>
          <div class="col-auto">
            <div class="icon icon-shape bg-dark text-white rounded-circle shadow">
              <%= link_to new_gif_path  do %>
                <span><i class="fas fa-plus"></i></span>
              <% end %>
            </div>
          </div>
        </div>
      
      </div>
    </div>
  </div>

</div>
