<% if @user_repos.present? %>
  <div class="card-columns">
    <%= render 'user_repos', locals: { user_repos: @user_repos} %>
  </div>
<% else %>
  <h1 class="text-center font-weight-bold" style="color: red;">
    
    No Repositories to show !!
    
  </h1>
<% end %>