<% if user_signed_in?%>
    <%= link_to  gifs_path do %>
        
         <i class="fas fa-arrow-left fa-2x" style="color: white;"></i>
         <h6 class="font-weight-bold" style="color: white;">Back</h6>
         <br>
    <% end%>
<% end %>