<%= search_form_for @q do |f| %>
  <div class="form-group">
     <div class="input-group mb-4">
          <%= f.search_field :label_cont, class: "form-control form-search", placeholder: 'Search all the GIFs'  %>
        <div class="input-group-prepend">
          
            <%= f.button :submit , class: "input-group-text", style: "background-color: black;" do %>
              <i class="fa fa-search fa-lg" ></i>
            <% end %>
          
        </div>
      </div>
  </div>
  <% end %>