<a href="#!">
  <%#=  image_tag gravatar_image_url(@gif.user.email, size: 40), class: "rounded-circle img-center img-fluid shadow shadow-lg--hover",style: "width: 140px;" %>
  <% if @gif.user.avatar.present? %>
    <%= image_tag github_avatar_url(@gif.user, size: 40), class: " img-center img-fluid shadow shadow-lg--hover",style: "width: 100%;"  %>
  <% else %>
    <%= image_tag gravatar_image_url(@gif.user.email, size: 40),  class: " img-center img-fluid shadow shadow-lg--hover",style: "width: 100%;"  %>
  <% end %>
</a>
