  <div class="row">
    <div class="col">
    </div>
    <div class="col-6">
      <h1 class="text-center">Upload New Gif</h1>
      <%= render 'form', gif: @gif %>
    </div>
    <div class="col">
    </div>
  
  </div>