<li class="list-group-item">
  <span class="fa fa-plus"></span>
  <small class="text-muted"><%= a.created_at.strftime('%H:%M:%S %-d %B %Y') %></small><br/>
  <% if a.trackable %>
    <%= link_to a.trackable.label, gif_path(a.trackable) , class: 'font-weight-bold'%> was added By <%= a.owner ? a.owner.name : 'Anonymous' %>.
  <% else %>
    An Gif that is currently deleted was added
  <% end %>
</li>