

<h1>Inbox</h1>

<ul>
  <% @conversations.each do |conversation| %>
    <li>
      <% if conversation.opposed_user(current_user).present? %>
        <%= link_to conversation.opposed_user(current_user).name, new_conversation_chat_path(conversation) %>
      <% end %>
    </li>
  <% end %>
</ul>


<h2>Users</h2>
<ul>
  <% @users.each do |user| %>
    <li><%= link_to user.name, conversations_path(sender_id: current_user.id, recipient_id: user.id), method: :post %></li>
  <% end %>
</ul>