<div id="messages" data-chatroom-id="<%= @chatroom.id %>">
  <% if @chatroom.messages.present? %>
    <%= cache @chatroom.messages do %>
      <% @chatroom.messages.includes([:user]).each do |message| %>
          <%= render "messages/message", message: message %>
      <% end %>
    <% end %>
  <% end %>
</div>
