.list-group-item {
    border: none;
    color: #8a8a8a;
  }
  
  .list-group-item.active {
    background-color: transparentize($color: rgb(119, 0, 119), $amount: 0);
    border-color: initial;
    color: #2d2222;
    font-weight: bold;
  }