.navbar-brand {
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji; 
    font-size: large;
    text-transform: none;
  }
  
  .nav-link img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: -8px 0;
    float: left;
    margin-right: 10px;
  }
  
  // Fixes bootstrap nav-brand container overlap
  @include media-breakpoint-down(xs) {
    .container {
      margin-left: 0;
      margin-right: 0;
    }
  }
  body {
    background-color: black;
  }
  html {
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji; 
    line-height: 1.5;
    font-weight: bolder;
  }
  .navbar-dark .navbar-nav .nav-link {
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji; 
    font-weight: bold;
  }
  // Masquerade alert shouldn't have a bottom margin
  body > .alert {
    margin-bottom: 0;
  }
  
  .invalid-feedback {
    color: $red;
  }
  
  .navbar {
    max-height: 60px;
  }
  


  
  
  
  
  
  // Sticky Ofsset
  .sticky-offset {
    top: 56px;
  }
  
  .sticky-offset-1 {
    bottom: 56px;
  }
  
  // Turbolinks Progress Bar
  .turbolinks-progress-bar {
    height: 5px;
    background-color: indianred ;
  }
  
  
  // Glow Buttons
  .glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  }
  
  
  .glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
  }
  
  .glow-on-hover:active {
    color: #000
  }
  
  .glow-on-hover:active:after {
    background: transparent;
  }
  
  .glow-on-hover:hover:before {
    opacity: 1;
  }
  
  .glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
  @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }
  // Align Button
  .btn-align {
    padding: 6px 12px;
    line-height: 1.42857143;
    vertical-align: middle;
  }
  // File Upload Button
  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  
  
  form {
    --border:rgba(0, 0, 0, 0.125);
    --borderDark:rgba(0, 0, 0, 0.25);
    --borderDarker:rgba(0, 0, 0, 0.5);
    --bgColorH:0;
    --bgColorS:0%;
    --bgColorL:98%;
    --fgColorH:210;
    --fgColorS:50%;
    --fgColorL:38%;
    --shadeDark:0.3;
    --shadeLight:0.7;
    --shadeNormal:0.5;
    --borderRadius:0.125rem;
    --highlight:#306090;
   
  
    > div {
      order: 2;
    }
  }
  
  
  /** PERSON */
  
  figure {
    --skinH:30;
    --skinS:100%;
    --skinL:87%;
    --hair:rgb(180, 70, 60);
    background: hsl(var(--fgColorH), calc(var(--fgColorS) * 2), 95%);
    border: 1px solid rgba(0, 0, 0, 0.0625);
    border-radius: 50%;
    height: 0;
    margin: auto auto;
    margin-bottom: 2rem;
    order: 1;
    padding-top: 60%;
    position: relative;
    width: 60%;
    overflow: hidden;
  
    div {
      position: absolute;
      transform: translate(-50%, -50%);
    }
  
    .skin {
      background: hsl(var(--skinH), var(--skinS), var(--skinL));
      box-shadow: inset 0 0 3rem hsl(var(--skinH), var(--skinS), calc(var(--skinL) * 0.95));
    }
  
    .head {
      top: 40%;
      left: 50%;
      width: 60%;
      height: 60%;
      border-radius: 100%;
      box-shadow: 0 -0.175rem 0 0.125rem var(--hair);
    }
  
    .ears {
      top: 47%;
      left: 50%;
      white-space: nowrap;
  
      &::before, &::after {
        content: "";
        background: hsl(var(--skinH), var(--skinS), var(--skinL));
        border-radius: 50%;
        width: 1rem;
        height: 1rem;
        display: inline-block;
        margin: 0 2.1rem;
      }
    }
  
    .head .eyes {
      top: 55%;
      left: 50%;
      white-space: nowrap;
  
      &::before, &::after {
        content: "";
        background: var(--borderDarker);
        border-radius: 50%;
        width: 10px;
        height: 10px;
        display: inline-block;
        margin: 0 0.5rem;
        -webkit-animation: blink 5s infinite;
        animation: blink 5s infinite;
        transition: all 0.15s;
      }
    }
  }
  
  @-webkit-keyframes blink {
    0%, 90%, 100% {
      height: 10px;
    }
  
    95% {
      height: 0;
    }
  }
  
  @keyframes blink {
    0%, 90%, 100% {
      height: 10px;
    }
  
    95% {
      height: 0px;
    }
  }
  
  
  
  figure .head .mouth {
    border: 0.125rem solid transparent;
    border-bottom: 0.125rem solid var(--borderDarker);
    width: 25%;
    border-radius: 50%;
    transition: all 0.5s;
  }
  
  form {
    &:invalid figure .head .mouth {
      top: 75%;
      left: 50%;
      height: 10%;
    }
  
    &:valid figure .head .mouth {
      top: 60%;
      left: 50%;
      width: 40%;
      height: 40%;
    }
  }
  
  figure {
    .hair {
      top: 40%;
      left: 50%;
      width: 66.66%;
      height: 66.66%;
      border-radius: 100%;
      overflow: hidden;
  
      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: var(--hair);
        border-radius: 50%;
        top: -60%;
        left: -50%;
        box-shadow: 4rem 0 var(--hair);
      }
    }
  
    .neck {
      width: 10%;
      height: 40%;
      top: 62%;
      left: 50%;
      background: hsl(var(--skinH), var(--skinS), calc(var(--skinL) * 0.94));
      border-radius: 0 0 2rem 2rem;
      box-shadow: 0 0.25rem var(--border);
    }
  
    .person-body {
      width: 60%;
      height: 100%;
      border-radius: 50%;
      background: red;
      left: 50%;
      top: 126%;
      background: hsl(var(--fgColorH), var(--fgColorS), var(--fgColorL));
    }
  
    .shirt-1 {
      width: 12%;
      height: 7%;
      background: hsl(var(--bgColorH), var(--bgColorS), var(--bgColorL));
      top: 76%;
      left: 36.5%;
      transform: skew(-10deg) rotate(15deg);
    }
  
    .shirt-2 {
      width: 12%;
      height: 7%;
      background: hsl(var(--bgColorH), var(--bgColorS), var(--bgColorL));
      top: 76%;
      left: 36.5%;
      transform: skew(-10deg) rotate(15deg);
      left: 52.5%;
      transform: skew(10deg) rotate(-15deg);
    }
  }

