<div class="message mb-2 me">
  <div class="content-container">
    <div class="content">
      <%= chat.message %>
    </div>
    <div class="author">
      <%= chat.user.name %>
      <b>
        <%= chat.chat_time%>
      </b>
    </div>
  </div>
</div>
