<div class="page-header">
  <%= link_to chats_path, class: 'btn btn-default' do %>
    All Chats
  <% end %>
  <%= link_to edit_chat_path(@chat), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show chat</h1>
</div>

<dl class="dl-horizontal">
  <dt>Message:</dt>
  <dd><%= @chat.message %></dd>

</dl>
