
//= require actiontext

// Brand Colors
$blue: #19508c;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #84212a;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #67b9c6;
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;


@import "font-awesome-sprockets";
@import "font-awesome";
@import 'nucleo';
@import 'nucleo-svg';
@import 'argon';
@import 'jumpstart/announcements.scss';
@import 'jumpstart/sticky-footer.scss';
@import "./actiontext.scss";

.navbar-brand {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
  text-transform: none;
}
// Fixes bootstrap nav-brand container overlap
@include media-breakpoint-down(xs) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

html {
  font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji; 
  line-height: 1.5;
}

// Masquerade alert shouldn't have a bottom margin
body > .alert {
  margin-bottom: 0;
}

.invalid-feedback {
  color: $red;
}

.nav-link {
  color: #2d3748;
  font-weight: 700;
  font-size: .875rem;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(2.75rem + 2px);
  padding: 0.625rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #868e96;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid black; 
  border-radius: 0.25rem;
  box-shadow: none;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}