
//= require actiontext

// Brand Colors
$blue: #19508c;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #f0747e;
$orange: #fd4646;
$yellow: #f6f312;
$green: #28a745;
$teal: #20c997;
$cyan: #67b9c6;
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

// Notify Offset


@import "font-awesome-sprockets";
@import "font-awesome";
@import 'nucleo';
@import 'nucleo-svg';
@import 'argon';
@import "bootstrap_notify";
@import 'jumpstart/announcements.scss';
@import 'jumpstart/sticky-footer.scss';
@import 'gifs.scss';
@import "./actiontext.scss";
@import 'bootstrap/glyphicons';
@import "ui.scss";
@import "chatroom_components/index";


